.animated {
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.circle {
  animation: float 6s ease-in-out infinite;
}

.circle-medium {
  animation: float 15s ease-in-out infinite;
}

.circle-slow {
  animation: float 8s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  }
  50% {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    transform: translatey(-20px);
  }
  100% {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    transform: translatey(0px);
  }
}
