/* Observer Animations */

.slideTop {
  opacity: 0;
  transform: translateY(80%);
  transition:
    transform 1s ease-in-out,
    opacity 1s ease-in-out;
}

.slideTop.play {
  opacity: 1;
  transform: translateY(0);
}

.slideRight {
  opacity: 0;
  transform: translateX(-10%);
  transition:
    transform 1s ease-in-out,
    opacity 1s ease-in-out;
}

.slideRight.play {
  opacity: 1;
  transform: translateX(0);
}

.growRight {
  transform: scale(0);
  transition: transform 2s ease-in-out;
  transform-origin: left;
  transform-style: preserve-3D;
}

.growRight.play {
  transform: scale(100%);
}

.growLeft {
  transform: scale(0);
  transition: transform 2s ease-in-out;
  transform-origin: right;
  transform-style: preserve-3D;
}

.growLeft.play {
  transform: scale(100%);
}

/* CSS Animations */

.slideBottom-css {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform, opacity;
  animation: slideBottom 1s ease-out forwards;
}

@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.slideLeft-css {
  opacity: 0;
  transform: translateX(30px);
  transition: transform, opacity;
  animation: slideLeft 1s ease-out forwards;
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.slideTop-css {
  opacity: 0;
  transform: translateY(30px);
  transition: transform, opacity;
  animation: slideTop 1s ease-in-out forwards;
}

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.bounce {
  animation: bouncing 1.5s ease-in-out infinite;
}

.bounceSlow {
  animation: bouncing 9s ease-in-out infinite;
}

@keyframes bouncing {
  0%,
  100% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-20%);
  }
}

.rotate {
  animation: rotateClockwise 8s linear infinite;
}

@keyframes rotateClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fadeInBackwards {
  animation: fadeIn 1.2s ease-out 1 normal forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1.4);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.onHover {
  transition: transform 0.3s ease-out;
}

.onHover:hover {
  transform: translateY(-20%);
}

.animation-delay-1 {
  animation-delay: 0.5s;
}

.animation-delay-2 {
  animation-delay: 1s;
}
