:root {
  --primary-font: "Golos Text", sans-serif;
  --secondary-font: "Bebas Neue", sans-serif;
}

.text-header {
  font-family: var(--secondary-font);
  font-size: 48px;
  font-style: normal;
  line-height: 100%;
  text-align: center;
  font-weight: normal;
}

.text-subheader {
  font-family: var(--secondary-font);
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
}

.text-title {
  font-family: var(--primary-font);
  line-height: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
}

.text-body {
  font-family: var(--primary-font);
  line-height: 150%;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
}

.text-label {
  font-family: var(--primary-font);
  line-height: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}
