/* Core */
@import url(core/colors.css);
@import url(core/typography.css);
@import url(core/animations.css);

/* Index page - Sections */
@import url(index/hero.css);
@import url(index/talks.css);
@import url(index/speakers.css);
@import url(index/volunteer.css);

/* Index page - Background */
@import url(index/decoration.css);

.content-layout {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
