---
// Layout Component
import Layout from "@/layouts/Layout.astro";

// Index Sections
import Hero from "@/components/index/Hero.astro";
import Talks from "@/components/index/Talks.astro";
import Speakers from "@/components/index/Speakers.astro";
import Volunteer from "@/components/index/Volunteer.astro";
---

<Layout title="ParchaTech">
  <main class="overflow-x-clip">
    <Hero />

    <Talks />

    <Speakers />

    <Volunteer />
  </main>
</Layout>
