---
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import Button from "@/components/Button.astro";
import heroImage from "@/assets/hero_image.svg";
import heroIlustration from "@/assets/hero_graphic.svg";
---

<Layout title="ParchaTech">
  <main>
    <section id="hero">
      <div class="hero__bg"></div>
      <Image
        class="hero__ilustration"
        src={heroIlustration}
        alt="Figura ovalada con una estrella de color naranja orbitando alrededor"
      />

      <div class="hero__container">
        <h1 class="hero__header hero__header--white">
          Tecnología y<br />amigos<br />en un mismo<br />
          <span class="hero__header--black">lugar</span>
        </h1>
        <Image
          class="hero__image"
          src={heroImage}
          alt="Ilustración de tres personas sentadas con una taza de café en la mano"
        />
      </div>

      <p class="text-body hero__description">
        ParchaTech es una comunidad que brinda charlas enfocadas en el
        crecimiento personal y profesional, en el mundo de la tecnología.
      </p>

      <div class="hero__btn-container">
        <Button text="Agenda" type="primary" href="/#talks" />
        <Button text="Conocer más" type="link" href="/" />
      </div>
    </section>

    <section id="talks">
      <h2 class="text-header talks__header">Próximas<br />Charlas</h2>
      <div class="talks__container">
        <!-- Connect Contentful here -->
        <div class="talks__card"></div>
        <div class="talks__card"></div>
        <div class="talks__card"></div>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  #talks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 250px 0;
  }
</style>
