---
// Astro Components
import { Image } from "astro:assets";

// Contentful Query
import { getFrequentSpeakers } from "@/lib/contentful/queries";

const frequentSpeakers = await getFrequentSpeakers();
---

<script>
  import { addAnimationObserver } from "@/lib/observer.ts";

  addAnimationObserver("#speakers .divider", "play", 0.5);
  addAnimationObserver(".speakers__header", "play", 0.4);
  addAnimationObserver(".overlay", "move", 0.4);
</script>

<section id="speakers" class="pt-32 lg:pt-10">
  <h2 class="text-header speakers__header slideTop w-full">
    <span class="divider growLeft max-w-[10%] bg-primary"></span>
    Speakers
    <span class="growRight divider max-w-[10%] bg-primary"></span>
  </h2>
  <div class="speakers__list">
    {
      frequentSpeakers.map((speaker) => (
        <div class="speakers__item">
          <div class="speakers__border onHover relative">
            <div class="relative h-full w-full overflow-hidden rounded-full">
              <div class="overlay absolute left-0 h-full w-full bg-orange" />
              <Image
                class="speakers__pic"
                src={speaker.photoURL}
                alt="Foto del rostro del orador"
                inferSize
              />
            </div>
          </div>
          <h3 class="text-subheader" set:html={speaker.name} />
          <p class="text-title my-5" set:html={speaker.jobPosition} />
          <Image
            class="speakers__company-logo"
            src={speaker.companyLogoURL}
            alt="Logo de la compañía donde trabaja el orador"
            inferSize
          />
        </div>
      ))
    }
  </div>
  <div class="h-[133px] w-[30.5%] self-start bg-primary"></div>
  <div class="h-40 w-[49%] self-start bg-primary"></div>
</section>

<style>
  #speakers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .speakers__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 100px;
  }

  .speakers__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    flex-wrap: wrap;
    margin-bottom: 4rem;
  }

  .speakers__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: min-content;
  }

  .speakers__border {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    margin-bottom: 30px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23010A0EFF' stroke-width='4' stroke-dasharray='35' stroke-dashoffset='100' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 100px;
    width: 202px;
    height: 202px;
  }

  .speakers__pic {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .speakers__company-logo {
    max-width: 50%;
    height: auto;
  }

  .overlay {
    transition: left 1s ease-in-out;
  }

  .overlay.move {
    left: 100%;
  }
</style>
