---
// Astro Components
import { Image } from "astro:assets";

// Components
import Button from "@/components/Button.astro";

// Assets
import { getAsset } from "@/lib/contentful/queries";
import { TEAM_PHOTO_ID } from "@/lib/contentful/constants";

const teamPhoto = await getAsset(TEAM_PHOTO_ID);
---

<script>
  import { addAnimationObserver } from "@/lib/observer.ts";

  addAnimationObserver("#volunteer .divider", "play", 0.2);
  addAnimationObserver(".volunteer__header", "play", 0.2);
</script>

<section id="volunteer" class="px-4 py-20">
  <div class="content-layout gap-24 xl:flex">
    <div class="mb-6">
      <div class="items-center justify-center md:flex">
        <h2 class="text-header volunteer__header slideRight mb-4 md:mb-0">
          ¿Tienes una idea que quieras compartir?
        </h2>
        <span class="divider growRight bg-secondary"></span>
      </div>
      <p class="my-6 w-full">
        ¡Todos tenemos algo por decir! Te ofrecemos el espacio perfecto para que
        puedas transmitir tu conocimiento y experiencia dentro del mundo de la
        tecnología.
        <br />
        <br />
        Inscríbete y sé parte de nuestro calendario de charlas. Te ayudaremos a mejorar
        tu oratoria, elocuencia y habilidad para hablar en público, utilizando herramientas
        de storytelling que harán de tu presentación una experiencia inolvidable.
      </p>
      <Button
        type="secondary"
        text="Participar"
        href="https://forms.gle/jVPCujUznSvDL2Mz8"
        externalLink
      />
    </div>
    <Image
      inferSize
      class="w-full xl:w-1/2"
      src={teamPhoto}
      alt="Un grupo de tres personas, sentadas en una mesa mientras trabajan y comparten ideas."
    />
  </div>
</section>

<style>
  #volunteer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  .volunteer__header {
    flex-basis: 115%;
    color: var(--secondary-color);
    text-align: left;
    width: 100%;
    max-width: 400px;
  }

  @media (min-width: 1024px) {
    #volunteer {
      padding: 160px 64px 140px;
    }
  }
</style>
