---
interface Props {
  text: string;
  type: "primary" | "secondary" | "link" | "full-width";
  href?: string;
  backgroundColor?: string;
  disabled?: boolean;
  targetBlank?: boolean;
}

const { text, type, href, backgroundColor, disabled, targetBlank } =
  Astro.props;
const buttonClasses = {
  primary: "btn--primary",
  secondary: "btn--secondary",
  link: "btn--link",
  "full-width": "btn--full-width",
};
---

<a
  class:list={[
    "btn w-1/2 md:w-full",
    buttonClasses[type],
    { "btn--disabled": disabled },
  ]}
  href={href}
  target={targetBlank ? "_blank" : "_self"}
  rel="noreferrer"
>
  {text}
</a>

<style define:vars={{ backgroundColor }}>
  .btn {
    display: block;
    max-width: 180px;
    padding: 12px 0px;
    font-size: 1rem;
    font-family: var(--primary-font);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }

  .btn--disabled {
    pointer-events: none;
    cursor: default;
  }

  .btn--primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  .btn--secondary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }

  .btn--link {
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
    color: var(--primary-color);
    font-family: var(--primary-font);
    text-decoration: underline;
  }

  .btn--full-width {
    font-size: 18px;
    width: 100%;
    max-width: 100%;
    text-transform: uppercase;
    color: var(--secondary-color);
    background-color: var(--backgroundColor);
  }
</style>
