---
// Astro components
import { Image } from "astro:assets";

// Assets
import arrow from "@/assets/arrow-up.png";
import footerImage from "@/assets/curve_text.png";
---

<footer class="w-full px-4">
  <a href="#talks" class="w-full">
    <div
      class="content-layout relative flex flex-col items-center justify-center"
    >
      <div class="flex w-full items-center justify-center gap-8">
        <div class="divider max-w-sm bg-secondary"></div>
        <Image
          class="rotate w-1/2 max-w-40 md:w-full"
          src={footerImage}
          alt="Las palabras ParchaTech y 2024 formando un círculo"
        />
        <div class="divider max-w-sm bg-secondary"></div>
      </div>
      <Image
        src={arrow}
        alt="Flecha apuntando hacía arriba"
        class="bounce absolute"
      />
    </div>
  </a>
</footer>
