---
// Astro components
import { Image } from "astro:assets";

// Assets
import arrow from "@/assets/arrow-up.png";
import footerImage from "@/assets/curve_text.png";
import instagramIcon from "@/assets/instagram_icon.svg";
import wppIcon from "@/assets/wpp_icon.svg";
---

<script>
  import { addAnimationObserver } from "@/lib/observer.ts";
  addAnimationObserver("footer .divider", "play", 0.3);
</script>
<footer class="w-full px-4">
  <a href="#talks" class="mb-4 w-full">
    <div
      class="content-layout relative flex flex-col items-center justify-center"
    >
      <div class="flex w-full items-center justify-center gap-8">
        <div class="divider growLeft max-w-20 bg-secondary"></div>
        <Image
          class="rotate w-1/2 max-w-40 md:w-full"
          src={footerImage}
          alt="Las palabras ParchaTech y 2024 formando un círculo"
        />
        <div class="divider growRight max-w-20 bg-secondary"></div>
      </div>
      <Image
        src={arrow}
        alt="Flecha apuntando hacía arriba"
        class="bounce absolute"
      />
    </div>
  </a>
  <div class="my-10 flex gap-6">
    <a
      href="https://www.instagram.com/parchatech/"
      target="_blank"
      class="onHover"><Image src={instagramIcon} alt="Logo de Instagram" /></a
    >
    <a
      href="https://chat.whatsapp.com/FFI7K3KVypB4OVm5CcRmQB"
      target="_blank"
      class="onHover"><Image src={wppIcon} alt="Logo de Whatsapp" /></a
    >
  </div>
</footer>
