---
// Astro Components
import { Image } from "astro:assets";

// Contentful
import { getAsset } from "@/lib/contentful";

// Contentful IDs
import { LOGO_ID } from "@/lib/constants";

const logo = await getAsset(LOGO_ID);
---

<header class="header">
  <div class="header-layout">
    <Image
      src={logo}
      inferSize
      alt="ParchaTech Logo"
      class="relative z-10 w-20 pb-20 pt-12"
    />
  </div>
</header>

<style>
  .header {
    background-color: var(--primary-color);
  }

  .header-layout {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
</style>
