<header class="header">
  <div class="header-layout">
    <h2 class="header_logo">ParchaTech</h2>
  </div>
</header>

<style>
  .header {
    background-color: var(--primary-color);
  }

  .header-layout {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
  }

  .header_logo {
    padding: 42px 0px 48px;
    /* font-size: 32px; */
    font-size: 24px;
    font-weight: normal;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
  }
</style>
