---
// Astro Components
import { Image } from "astro:assets";

// Contentful
import { getAsset } from "@/lib/contentful/queries";

// Contentful IDs
import { LOGO_ID } from "@/lib/contentful/constants";

const logo = await getAsset(LOGO_ID);
---

<header class="px-4 py-8 lg:px-16 lg:py-10">
  <div class="header-layout relative z-20">
    <Image
      src={logo}
      inferSize
      alt="ParchaTech Logo"
      class="w-16 opacity-0 md:w-20"
    />
  </div>
</header>

<style>
  header {
    background-color: var(--primary-color);
  }

  .header-layout {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
</style>
