<header class="header">
  <h2 class="header_logo">ParchaTech</h2>
</header>

<style>
  .header {
    background-color: var(--primary-color);
  }

  .header_logo {
    padding: 42px 0px 48px;
    font-size: 32px;
    font-weight: normal;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
  }
</style>
