.bg__grid-overlay {
  background-image: url("../../assets/grid.svg");
  mask-image: linear-gradient(rgba(0, 0, 0, 0.1), 50%, rgba(0, 0, 0, 1));
  background-position:
    0 0,
    0 100%;
  background-repeat: repeat, no-repeat;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 71px;
}

.divider {
  display: block;
  margin: 4px auto;
  max-width: 500px;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
}
