.hero__bg {
  position: absolute;
  width: 100%;
  height: 690px;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(
    to bottom,
    var(--primary-color) 58%,
    var(--secondary-color) 50%
  );
}

.hero__container {
  display: flex;
  justify-content: space-between;
}

.hero__header {
  margin: 0px;
  font-size: 96px;
  line-height: 100%;
  font-family: var(--secondary-font);
}

.hero__header--white {
  color: var(--secondary-color);
}

.hero__header--black {
  color: var(--primary-color);
}

.hero__description {
  max-width: 533px;
  margin: -50px 0px 38px;
  color: var(--primary-color);
}

.hero__btn-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 48px;
}

.hero__image {
  position: relative;
  top: 3px;
  left: 10%;
}

.hero__ilustration {
  position: absolute;
  top: 268px;
  right: calc(50vw + 240px);
}
