#hero {
  background: linear-gradient(
    to bottom,
    var(--primary-color) 51%,
    var(--secondary-color) 50%
  );
}

.hero__header {
  margin: 0px;
  font-size: 96px;
  line-height: 100%;
  font-family: var(--secondary-font);
  font-weight: normal;
}

.hero__header--gradient {
  color: transparent;
  background: linear-gradient(to right, var(--orange), var(--purple));
  background-clip: text;
}

.hero__description {
  max-width: 550px;
  margin: 42px 0px 38px;
  color: var(--primary-color);
}
