.speakers__grid-overlay {
  background-image: url("../../assets/grid.svg");
  mask-image: linear-gradient(rgba(0, 0, 0, 0.1), 15%, rgba(0, 0, 0, 1));
  background-position: 0 0, 0 100%;
  background-repeat: repeat, no-repeat;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 28px;
}

.bg-panel {
  width: 51.4%;
  height: 80px;
  align-self: flex-start;
  background-color: var(--primary-color);
}

.bg-panel.width-40 {
  width: 40%;
  height: 180px;

  align-self: flex-start;
  background-color: var(--primary-color);
}

.speakers__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 75px;
}

.speakers__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  flex-wrap: wrap;
}

.speakers__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.speakers__item > p {
  margin: 20px 0;
}

.speakers__border {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  margin-bottom: 30px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23010A0EFF' stroke-width='4' stroke-dasharray='35' stroke-dashoffset='100' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 100px;
  width: 202px;
  height: 202px;
}

.speakers__pic {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.speakers__company-logo {
  transform: scale(0.6);
}
