#talks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 16px;
}

.talks__header {
  margin-bottom: 75px;
  width: 100%;
}

.talks__header > .divider {
  /* width: 30%; */
  width: 60%;
}

.talks__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.talks__card {
  border: 1px solid red;
  width: 360px;
  height: 426px;
}

.talks__header-divider {
  display: block;
  text-align: center;
  width: 30%;
  height: 2px;
  background-color: var(--primary-color);
  margin: 4px auto;
}
