---
// Astro Components
import { Image } from "astro:assets";

// Components
import Button from "@/components/Button.astro";

// Assets
import duetonePhoto from "@/assets/duetone_photo.jpg";
---

<script>
  import { addAnimationObserver } from "@/lib/observer.ts";

  addAnimationObserver("#volunteer .divider", "play", 0.2);
  addAnimationObserver(".volunteer__header", "play", 0.2);
</script>

<section id="volunteer">
  <div class="content-layout gap-24 xl:flex">
    <div class="mb-6">
      <div class="items-center justify-center md:flex">
        <h2 class="text-header volunteer__header slideRight">
          Sé parte de la<br />comunidad
        </h2>
        <span class="divider growRight bg-secondary"></span>
      </div>
      <p class="my-6 w-full">
        Somos un grupo de amigos que se conocieron durante la carrera de
        Ingeniería en Sistemas, en la Universidad del Valle en Cali. Después
        graduarnos, y buscando la manera de nunca parar de aprender, quisimos
        crear espacios para la enseñanza y el crecimiento personal dentro del
        sector. Así nació ParchaTech, una iniciativa de charlas, que no sólo
        busca compartir el conocimiento con la comunidad, sino también ayudar a
        practicar esas habilidades blandas que siempre vamos a necesitar, como
        la oratoria y el hablar en público.<br /><br />
        Hoy, nos enfocamos en crear experiencias educativas que van más allá del
        contenido técnico, donde cualquier persona pueda tener la oportunidad de
        compartir, aprender y parcharse.
      </p>
      <Button
        type="secondary"
        text="Participar"
        href="https://forms.gle/jVPCujUznSvDL2Mz8"
        externalLink
      />
    </div>
    <Image
      class="max-h-fit"
      src={duetonePhoto}
      alt="Un grupo de tres personas, sentadas en una mesa mientras trabajan y comparten ideas."
    />
  </div>
</section>

<style>
  #volunteer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 160px 16px 100px;
  }

  .volunteer__header {
    color: var(--secondary-color);
    text-align: left;
    width: 100%;
    max-width: 400px;
  }

  @media (min-width: 1024px) {
    #volunteer {
      padding: 160px 64px 140px;
    }
  }
</style>
